<div class="row">
  <div class="col-md-12 col-sm-12">
      <div class="bannerWrapper">
      <div class="box">
          <div class="logo">
          <p class="text-center" id="hotelIcon"><i class="fa fa-hotel text-center" id="hotelSvg"></i></p><br><br>
          <h1 class="text-center" id="bannerHeader">Welcome to Egumbini hotels!</h1>
          <p class="text-center" id="bannertext">Browse Through our vast array of beautiful spacicous suites</p>
      </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
      <div class="col-md-12">
      <h1 class="text-center">Who Are We??</h1>
      <p>Welcome to the first four-star luxury boutique hotel offering African hospitality in the heart of Soweto, a historically rich environment, with uniquely talented people focused on exceeding our guests’ expectations consistently!
        I am delighted to introduce you to a unique experience of boutique accommodation and conferencing, as can only be experienced at our establishment – graded with four stars by the Tourism Grading Council of South Africa. We are proud to offer you world-class facilities and amenities immersed with all the local flavour, culture, heritage and history of the most famous township – Kliptown, Soweto!</p> 
      </div>

      <div class="col-md-12">
          <h1 class="text-center">Our Hotel Suites</h1>
          <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel1" data-slide-to="1"></li>
              <li data-target="#carousel1" data-slide-to="2"></li>
              <li data-target="#carousel1" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active"><img src="../../assets/hannah-busing-310234-unsplash.jpg" alt="First slide image" class="center-block carImage">
                <div class="carousel-caption">
                  <h3>Hotel Belladonna</h3>
                  <p>An exclusive paradise island setup with a pool, lounge, and various bells and whistles</p>
                  <a class="btn btn-success" routerLink="/suites">Book Now!</a>
                </div>
              </div>
              <div class="item"><img src="../../assets/Hotel-Suite_05.jpg" alt="Second slide image" class="center-block carImage">
                <div class="carousel-caption">
                  <h3>Hotel Villa Rosa</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <a class="btn btn-success" routerLink="/suites">Book Now!</a>
                </div>
              </div>
              <div class="item"><img src="../../assets/justin-schuler-253611-unsplash.jpg" alt="Third slide image" class="center-block carImage">
                <div class="carousel-caption">
                  <h3>Hotel Mhlangeni</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <a class="btn btn-success" routerLink="/suites">Book Now!</a>
                </div>
              </div>
              <div class="item"><img src="../../assets/nobu-miami-beach-hotels-page_3.jpeg" alt="Third slide image" class="center-block carImage">
                <div class="carousel-caption">
                  <h3>Hotel Khaya</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <a class="btn btn-success" routerLink="/suites">Book Now!</a>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a></div>
      </div>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!</p> 
          </div>
      </div>
  </div>
</div>


