.media-object{
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.modalImg{
    height: 300px;

}

.btn{
    transition: all ease .5s
}
.btn:hover{
    transform: translateY(-5px);
}

.btn:active{
    transform: translateY(5px);
}

.container{
    animation: 1s slideleft;
    backface-visibility: hidden;
}

.headingText{
    animation: dropdown 1.2s;
    backface-visibility: hidden;
}

@keyframes slideleft{
    0%{
        transform : translateX(-30px);
        opacity: 0
         
    }
    80%{
        transform : translateX(10px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes dropdown{
    0%{
        transform : translateY(-30px);
        opacity: 0
         
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}