.media-object{
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.modalImg{
    height: 300px;

}

.btn{
    transition: all ease .5s
}
.btn:hover{
    transform: translateY(-5px);
}

.btn:active{
    transform: translateY(5px);
}