.btn{
    transition: all ease .5s
}
.btn:hover{
    transform: translateY(-5px);
}

div{
    animation: slideleft 1s ease-in;
    backface-visibility: hidden;
}

@keyframes slideleft{
    0%{
        transform : translateX(-30px);
        opacity: 0
         
    }
    80%{
        transform : translateX(10px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.jumbotron {
    background-size: 100% 200%;
    background: url('../../assets/4.jpg');
    transition: background-position 1s ease-in-out;
}

.jumbotron:hover {
    background-position: 0 -100%;
}